#contact {
  color: var(--ctp-rosewater);
  background-color: var(--ctp-surface0); 
  box-shadow: var(--ctp-box-shadow);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--link-hover);
}

.contact-link {
  text-decoration: underline;
}
