#project-container {
  background-color: var(--ctp-surface0); 
  box-shadow: var(--ctp-box-shadow);
}

#project-buttons {
  background-color: var(--ctp-lavender);
  border-radius: 12px;
  box-shadow: var(--ctp-box-shadow);
}

#project-buttons:hover,
#project-buttons:focus {
  background-color: var(--ctp-green);
}
