#header {
  background-color: var(--ctp-mantle); 
  box-shadow: var(--ctp-box-shadow);
}

#header-link {
  color: var(--ctp-lavender);
}

#header-link:hover,
#header-link:focus {
  color: var(--ctp-rosewater);
}
