@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --ctp-base:      #1e1e2e; /* background-color */
  --ctp-mantle:    #181825; /* Header/Footer bg */
  --ctp-surface0:  #313244; /* Card / Container bg */
  --ctp-lavender:  #b4befe; /* Accent headings/buttons */
  --ctp-green:     #a6e3a1; /* Hover animations */
  --ctp-rosewater: #f5e0dc; /* Success elements/links */
  --ctp-overlay0:  #6c7086; /* Text highlights/quotes */
  --ctp-box-shadow: 0 8px 24px rgba(180, 190, 254, 0.12); /* Lavender Box Shadow */
  /* Font */
  --font-poppins: "Poppins", sans-serif;

  font-family: var(--font-poppins);
  font-size: 18px;
  background-color: var(--ctp-base);
  color: var(--ctp-rosewater);
}
